<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs" version="1.2.16" targetFramework="net40" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="1.0.3" targetFramework="net40" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.8.7" targetFramework="net40" />
</packages>